<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-links">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<th:block th:fragment="navbar">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{${home}}"
				style="color: aquamarine; padding: 10px;"><b>Online</b>Bookstore</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">

				<ul class="navbar-nav w-100">
					<!-- <li class="nav-item active"><a class="nav-link" href="#">
                                    Today's Deals <span class="sr-only">(current)</span>
                            </a></li> -->
					<div class="form-group col-md-8 mx-auto">
						<input class="form-control autocomplete form-control-md"
							placeholder="Search"
							style="border: 0px solid; border-radius: 20px;" />
					</div>
					<li class="nav-item"><a class="nav-link" href="#"></a></li>
					<li class="nav-item"><a class="nav-link" href="#"></a></li>
					<li class="nav-item dropdown ml-auto"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <span
							style="color: aquamarine;"> Sign in <i
								class="fa
                                    fa-sign-in"
								aria-hidden="true"></i>
						</span>
					</a>
						<div class="dropdown-menu dropdown-menu-right"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{${userLogin}}"> <span
								class="text-warning"></span>
								<button type="button"
									class="btn btn-warning
                                    btn-md btn-block"
									style="margin-bottom: 20px;">Sign in</button>
							</a> <a class="dropdown-item" th:href="@{${userRegister}}">New
								customer? <span style="text-decoration: underline;">Register
									here</span>
							</a>

						</div></li>

					<li class="nav-item active" style="margin-right: 20px;"><a
						class="nav-link" href="#"><b><i
								class="fa
                                    fa-shopping-cart fa-2x"></i>
								Cart (<span class="text-warning">&nbsp;5&nbsp;</span>)</b> <span
							class="sr-only">(current)</span></a></li>

				</ul>
			</div>
		</nav>
	</th:block>
	<th:block th:fragment="js-bootstrap-scripts">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script type="text/javascript"
			src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</th:block>
</body>
</html>