<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<th:block th:fragment="update-shipping-address">
		<div class="modal fade" id="updateAddressForm" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold">Shipping
							address</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<div class="md-form mb-5">
							<form th:action="@{/cart/address/update}" th:object="${addressForm}"
								method="post">
								<label for="inputFirstName"><strong>First Name:</strong></label>
								<input type="text" class="form-control" id="inputName"
									th:field="*{inputFirstName}" placeholder="Name" required> <br>
								<label for="inputLastName"><strong>Last Name:</strong></label> <input
									type="text" class="form-control" id="inputName"
									th:field="*{inputLastName}" placeholder="Name" required> <br>
								<label for="inputAddress"><strong>Address 1:</strong></label> <input
									required type="text" class="form-control"
									th:field="*{inputAddress}" placeholder="1234 Main St">
								<br> <label for="inputAddress2"><strong>Address
										2:</strong></label> <input type="text" class="form-control"
									th:field="*{inputAddress2}"
									placeholder="Apartment, studio, or floor"> <br> <label
									for="inputCity"><strong>City:</strong></label> <input required
									type="text" class="form-control" th:field="*{inputCity}">
								<br> <label for="inputState"><strong>State:</strong></label>
								<input required type="text" class="form-control"
									th:field="*{inputState}"> <br> <label
									for="inputZip"><strong>ZIP:</strong></label> <input required
									type="number" class="form-control" th:field="*{inputZip}">

								<div class="modal-footer d-flex justify-content-center"
									style="margin-top: 50px;">
									<button class="btn btn-warning">Add address</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block th:fragment="add-shipping-address">
		<div class="modal fade" id="addShippingAddress" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold">Shipping
							address</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<div class="md-form mb-5">
							<form th:action="@{/cart/address/add}" th:object="${addressForm}"
								method="post">
								<label for="inputFirstName"><strong>First Name:</strong></label>
								<input type="text" class="form-control" id="inputName"
									th:field="*{inputFirstName}" placeholder="Name" required> <br>
								<label for="inputLastName"><strong>Last Name:</strong></label> <input
									type="text" class="form-control" id="inputName"
									th:field="*{inputLastName}" placeholder="Name" required> <br>
								<label for="inputAddress"><strong>Address 1:</strong></label> <input
									required type="text" class="form-control"
									th:field="*{inputAddress}" placeholder="1234 Main St">
								<br> <label for="inputAddress2"><strong>Address
										2:</strong></label> <input type="text" class="form-control"
									th:field="*{inputAddress2}"
									placeholder="Apartment, studio, or floor"> <br> <label
									for="inputCity"><strong>City:</strong></label> <input required
									type="text" class="form-control" th:field="*{inputCity}">
								<br> <label for="inputState"><strong>State:</strong></label>
								<input required type="text" class="form-control"
									th:field="*{inputState}"> <br> <label
									for="inputZip"><strong>ZIP:</strong></label> <input required
									type="number" class="form-control" th:field="*{inputZip}">

								<div class="modal-footer d-flex justify-content-center"
									style="margin-top: 50px;">
									<button class="btn btn-warning">Add address</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>