<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register | OnlineBookstore</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

	<div class="container">
	<h1>Account page!</h1>
	<h1 th:text="${user.firstName}"></h1>
	<h1 th:text="${welcomeMessage}"></h1>
	
		<a href="/logout">Log out</a>
		<form th:action="@{/logout}" method="POST">
			<button type="submit">Log out post</button>

		</form>
	</div>
</body>
</html>