<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/general.html :: head-links"></th:block>
<title>Home | OnlineBookstore</title>
</head>
<body>
	<th:block th:replace="fragments/general.html :: navbar"></th:block>

	<th:block
		th:insert="fragments/most-popular-books.html :: most-pop-books"></th:block>
	<th:block th:insert="fragments/top-rated-books.html :: top-rated-books"></th:block>

	<th:block th:insert="fragments/general.html :: scripts"></th:block>
</body>
</html>